<section class="todo-section flow">
    <h2>First</h2>

    <div class="todo">
        <div class="todo-expanded">
            <button class="priority">
                <i class='bx bx-circle text-md'></i>
            </button>
            
            <div>
                <h3 class="text-lg">Titre de la tache</h3>
                <p class="paragraph text">Description de la tache</p>
            </div>                    
        </div>

        <div class="todo-summary">
            <div class="todo-project flow">
                <h3 class="text-md">Project</h3>
                <div>
                    <span>#</span>
                    <span>First</span>
                </div>
            </div>

            <div class="todo-date flow">
                <h3 class="text-md">Due Date</h3>
                <div>
                    <i class='bx bx-calendar' ></i>
                    <span>Date de la tache</span>
                </div>
            </div>

            <div class="todo-priority flow">
                <h3 class="text-md">Priority</h3>
                <div>
                    <i class='bx bx-flag' ></i>
                    <span>P3</span>
                </div>
            </div>
        </div>
    </div>
</section>