<section class="projects-section flow-lg">
    <h2 class="title">First</h2>

    <ul class="todolist flow">
        <li class="todolist-item">
            <button class="priority">
                <i class='bx bx-circle'></i>
            </button>
            
            <div>
                <h3 class="text">Titre de la tache</h3>
                <p class="paragraph text-sm">Description de la tache</p>
                <div class="small-text text-sm">
                    <i class='bx bx-calendar' ></i>
                    <span>Date de la tache</span>
                </div>
            </div>

            <div class="todolist-options">
                <button>
                    <i class='bx bx-edit-alt' ></i>
                </button>
                <button>
                    <i class='bx bx-trash-alt' ></i>
                </button>
            </div>
        </li>
    </ul>

    <button class="">
        <i class='bx bx-plus option'></i>
        <span class="small-text">Add a todo</span>
    </button>
</section>